article {
    margin: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(246, 244, 247);
}
aside li {
    color: black;
}

article h1,
article h3,
article p {
    color: white !important;
}

article li {
    color: white;
}


aside {
    margin: 15px;
    background: rgb(173, 111, 4) !important;
    backdrop-filter: blur(10px) !important;
    border: 2px solid rgb(186, 122, 1);
    border-radius: 25px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 900px;
    width: 250px;
    
}

/* Tábla alap kinézet */
.table {
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid rgba(77, 163, 255, 0.3);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

/* TELJES tábla világítson hoverre */
.table:hover {
    border-color: #4da3ff;
    box-shadow: 0 0 15px rgba(77, 163, 255, 0.7);
}

/* Sor hover animáció */
.table tbody tr {
    transition: background-color 0.25s ease;
}

/* Sor hover szín */
.table tbody tr:hover {
    background-color: #4da3ff !important;
}

/* Szöveg maradjon fehér hovernél */
.table tbody tr:hover td,
.table tbody tr:hover th {
    color: #fff;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "n n"
    "a as"
    "f f";
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: as;
}

footer {
    grid-area: f;
}

