* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-image: url(img/hatter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    border: 3px solid black;
    border-radius: 25px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

nav {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(0,0,0,0.5) !important;
    backdrop-filter: blur(2px) !important;
     /* Árnyék */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative; /*Ne lógjon rá az almenukre az aside az aloldalakon*/
    z-index: 1000; /*Ne lógjon rá az almenukre az aside az aloldalakon*/
}

article h1,
article h3,
article p {
    color: white !important;
}

article li {
    color: white;
}

article {
    margin: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}



footer {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(0,0,0,0.5) !important;
    backdrop-filter: blur(2px) !important;
     /* Árnyék */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: black !important; /*!important - felulirjuk a programot*/
}

h3 {
    color: black !important; /*!important - felulirjuk a programot*/
}

p {
    color: black;
}

/* Dropdown nyitása hover-re */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* ne legyen üres hely a hover miatt */
}

/* Dropdown menü háttér és betűszín */
.navbar-nav .dropdown-menu {
    background-color: #343a40; /* ugyanolyan, mint a navbar-dark bg-dark */
    border: none; /* ha nem akarunk keretet */
    transition: all 0.2s ease;
}

/* Dropdown menü szöveg */
.navbar-nav .dropdown-menu .dropdown-item {
    color: white; /* fehér szöveg */
}

/* Hover állapot az almenüpontokon */
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #495057; /* egy sötétebb árnyalat hoverre */
    color: white;
}


